# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
build/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# fvm
.fvm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
doc/*

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
example/pubspec.lock
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/android_gradle_build.json
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/build.ninja
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/cmake_install.cmake
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/CMakeCache.txt
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/metadata_generation_command.txt
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/prefab_config.json
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/.cmake/api/v1/reply/cache-v2-f7cc7bf970adc27ad89f.json
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-bf97f3a18bc37cc7e4ee.json
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-18656a17a232297ad606.json
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/.cmake/api/v1/reply/index-2025-04-06T15-09-39-0837.json
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/CMakeFiles/cmake.check_cache
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/CMakeFiles/rules.ninja
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/CMakeFiles/TargetDirectories.txt
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeCCompiler.cmake
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeCXXCompiler.cmake
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_C.bin
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_CXX.bin
example/android/app/.cxx/Debug/4b31385a/arm64-v8a/CMakeFiles/3.18.1-g262b901/CMakeSystem.cmake
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/android_gradle_build.json
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/build.ninja
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/CMakeCache.txt
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/cmake_install.cmake
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/metadata_generation_command.txt
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/prefab_config.json
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/.cmake/api/v1/reply/cache-v2-223c7f2afd0ff6a480f1.json
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-fb2ddd3d783f678291ea.json
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-d385b16e7b3f90928c3d.json
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-06T15-10-02-0098.json
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/CMakeFiles/cmake.check_cache
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/CMakeFiles/rules.ninja
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/CMakeFiles/TargetDirectories.txt
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeCCompiler.cmake
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeCXXCompiler.cmake
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_C.bin
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_CXX.bin
example/android/app/.cxx/Debug/4b31385a/armeabi-v7a/CMakeFiles/3.18.1-g262b901/CMakeSystem.cmake
example/android/app/.cxx/Debug/4b31385a/x86/android_gradle_build.json
example/android/app/.cxx/Debug/4b31385a/x86/build.ninja
example/android/app/.cxx/Debug/4b31385a/x86/cmake_install.cmake
example/android/app/.cxx/Debug/4b31385a/x86/CMakeCache.txt
example/android/app/.cxx/Debug/4b31385a/x86/metadata_generation_command.txt
example/android/app/.cxx/Debug/4b31385a/x86/prefab_config.json
example/android/app/.cxx/Debug/4b31385a/x86/.cmake/api/v1/query/client-agp/cache-v2
example/android/app/.cxx/Debug/4b31385a/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
example/android/app/.cxx/Debug/4b31385a/x86/.cmake/api/v1/query/client-agp/codemodel-v2
example/android/app/.cxx/Debug/4b31385a/x86/.cmake/api/v1/reply/cache-v2-1e8d737cc7f0c3f06285.json
example/android/app/.cxx/Debug/4b31385a/x86/.cmake/api/v1/reply/cmakeFiles-v1-29ef491af2a990e89e5b.json
example/android/app/.cxx/Debug/4b31385a/x86/.cmake/api/v1/reply/codemodel-v2-e84d18b0e4a1721fd716.json
example/android/app/.cxx/Debug/4b31385a/x86/.cmake/api/v1/reply/index-2025-04-06T15-10-03-0579.json
example/android/app/.cxx/Debug/4b31385a/x86/CMakeFiles/cmake.check_cache
example/android/app/.cxx/Debug/4b31385a/x86/CMakeFiles/rules.ninja
example/android/app/.cxx/Debug/4b31385a/x86/CMakeFiles/TargetDirectories.txt
example/android/app/.cxx/Debug/4b31385a/x86/CMakeFiles/3.18.1-g262b901/CMakeCCompiler.cmake
example/android/app/.cxx/Debug/4b31385a/x86/CMakeFiles/3.18.1-g262b901/CMakeCXXCompiler.cmake
example/android/app/.cxx/Debug/4b31385a/x86/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_C.bin
example/android/app/.cxx/Debug/4b31385a/x86/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_CXX.bin
example/android/app/.cxx/Debug/4b31385a/x86/CMakeFiles/3.18.1-g262b901/CMakeSystem.cmake
example/android/app/.cxx/Debug/4b31385a/x86_64/android_gradle_build.json
example/android/app/.cxx/Debug/4b31385a/x86_64/build.ninja
example/android/app/.cxx/Debug/4b31385a/x86_64/cmake_install.cmake
example/android/app/.cxx/Debug/4b31385a/x86_64/CMakeCache.txt
example/android/app/.cxx/Debug/4b31385a/x86_64/metadata_generation_command.txt
example/android/app/.cxx/Debug/4b31385a/x86_64/prefab_config.json
example/android/app/.cxx/Debug/4b31385a/x86_64/.cmake/api/v1/query/client-agp/cache-v2
example/android/app/.cxx/Debug/4b31385a/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
example/android/app/.cxx/Debug/4b31385a/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
example/android/app/.cxx/Debug/4b31385a/x86_64/.cmake/api/v1/reply/cache-v2-50169d195bd59d475901.json
example/android/app/.cxx/Debug/4b31385a/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-39ed02bf84f091ba53cb.json
example/android/app/.cxx/Debug/4b31385a/x86_64/.cmake/api/v1/reply/codemodel-v2-dcd1cb0a971cdbe5b171.json
example/android/app/.cxx/Debug/4b31385a/x86_64/.cmake/api/v1/reply/index-2025-04-06T15-10-05-0020.json
example/android/app/.cxx/Debug/4b31385a/x86_64/CMakeFiles/cmake.check_cache
example/android/app/.cxx/Debug/4b31385a/x86_64/CMakeFiles/rules.ninja
example/android/app/.cxx/Debug/4b31385a/x86_64/CMakeFiles/TargetDirectories.txt
example/android/app/.cxx/Debug/4b31385a/x86_64/CMakeFiles/3.18.1-g262b901/CMakeCCompiler.cmake
example/android/app/.cxx/Debug/4b31385a/x86_64/CMakeFiles/3.18.1-g262b901/CMakeCXXCompiler.cmake
example/android/app/.cxx/Debug/4b31385a/x86_64/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_C.bin
example/android/app/.cxx/Debug/4b31385a/x86_64/CMakeFiles/3.18.1-g262b901/CMakeDetermineCompilerABI_CXX.bin
example/android/app/.cxx/Debug/4b31385a/x86_64/CMakeFiles/3.18.1-g262b901/CMakeSystem.cmake
example/ios/Runner/AppDelegate.swift
example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
